<table class="table">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for(car of cars; track $index){
    <tr>
      <td>{{car.brand.name}}</td>
      <td>{{car.model.name}}</td>
      <td>{{car.total}}</td>
      <td>
        <button title="Ver detalle" (click)="openDetail(car)">
          <i class="fa-solid fa-circle-info"></i>
        </button>
        <button title="Editar">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
     
      </td>
    </tr>
    }
  </tbody>
</table>
<app-pagination
  [meta]="meta"
  (pageChanged)="loadPage($event)">
</app-pagination>
<div class="create-container">
  <button class="create-btn" (click)="toggleCreate()"> Crear Coche</button>
</div>
@if (isCreateOpen) {
  <app-create-form (carCreated)="onCarCreated($event)"></app-create-form>
}

@if (isDialogOpen && selectedCar) {
  <app-details
    [selectedCar]="selectedCar"
    (closed)="closeDialog()">
  </app-details>
 
}
